/* Resets */
body,
h1,
h2,
p,
ul {
  margin: 0;
}

h1,
h2 {
  color: #000;
}

/* Setting the background color for the entire webpage */
body {
  background-color: #f9fafc;
}

/* Setting font for all text in the webpage */
.btn,
body {
  font-family: "Open Sans", sans-serif;
}

/* new margins for header and main after the reset */
header,
main {
  margin: 20px 25px;
}

header h1,
footer h2 {
  font-size: 20px;
}

/* Setting up nav links layout */
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Added padding to give better user experience when choosing link */
.nav-links a {
  text-decoration: none;
  color: #69696a;
  padding: 5px 0;
}

/* Centering the buttons on the screen */
.btn-center {
  display: flex;
  justify-content: center;
}

/* Design for the black buttons */
.btn {
  cursor: pointer;
  background-color: #000;
  border: none;
  color: #fff;
  margin: 10px auto;
  padding: 15px 0;
  width: 100%;
  border-radius: 50px;
}

main h1 {
  margin: 15px 0;
}

.description-text {
  color: #69696a;
  border-left: 4px #69696a solid;
  border-radius: 4px;
  padding-left: 20px;
}

main > .btn-center {
  margin-top: 10px;
}

/* Designing the footer */
footer {
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(247, 193, 162, 0.7);
}

footer h2 {
  margin: 0 25px;
}

/* Removing the bullet point/disc from the lists */
.footer-links {
  display: flex;
  list-style: none;
}

.footer-links li {
  padding: 20px;
}

/* Removing the underline off of the anchors */
.footer-links a {
  text-decoration: none;
  color: #69696a;
}
