/* Resets */
body,
h1,
h2,
p,
ul {
  margin: 0;
}

h1,
h2 {
  color: #000;
}

body {
  background-color: #f9fafc;
}

.btn,
body {
  font-family: "Open Sans", sans-serif;
}

header,
main {
  margin: 20px 25px;
}

header h1,
footer h2 {
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-links a {
  text-decoration: none;
  color: #69696a;
  margin: 5px 0;
}

.btn-center {
  display: flex;
  justify-content: center;
}

.btn {
  cursor: pointer;
  background-color: #000;
  border: none;
  color: #fff;
  margin: 10px auto;
  padding: 15px 0;
  width: 100%;
  border-radius: 50px;
}
main h1 {
  margin: 15px 0;
}

main p {
  color: #69696a;
  border-left: 4px #69696a solid;
  border-radius: 4px;
  padding-left: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(247, 193, 162, 0.7);
}

footer h2 {
  margin: 0 25px;
}

.footer-links {
  display: flex;
  list-style: none;
}

.footer-links li {
  padding: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #69696a;
}
